<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page.title }} - Liquibase</title>
        <meta name="description" content="{{ page.title }}">
        <meta property="og:title" content="Liquibase"/>
        <meta property="og:url" content="https://liquibase.org"/>
        <meta property="og:site_name" content="Liquibase"/>
        
        <link rel="alternate" type="application/rss+xml" title="Liquibase RSS Feed" href="http://www.liquibase.org/rss.xml" />
        <!--CSS-->
        <!--<link rel="stylesheet" href="/css/vendor/jquery-ui/jquery-ui.min.css">-->
        <!--<link rel="stylesheet" href="/css/normalize.css">-->
        <!--<link rel="stylesheet" href="/css/main.css">-->
        <link rel="stylesheet" href="/css/bootstrap/bootstrap.css">
        <link rel="stylesheet" href="/css/bootstrap/bootstrap-theme.css">
        <!--<link rel="stylesheet" href="/css/liquibase.css">-->
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/style.css">

        <!--Javascript-->
        <script src="/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/main.js"></script>

        <link rel="icon" href="/favicon/favicon.ico"/>   

        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
             <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
             <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
    </head>
    <body>
        <div class="container-fluid">
                <div class="row" style="line-height: 24px; padding:10px; background-color: #416692; text-align:center">
                        <a style="font-size:16px; font-weight:bold; color: #ffffff; text-decoration: none;" href="https://www.datical.com/liquibase/">Want to use Liquibase<sup>&reg;</sup> across your enterprise? Try our enterprise version <img style="vertical-align: middle; height: 25px;" src="/custom_images/datical-logo-white-150.png"></a>
                </div>
        </div>
        <div class="container">
            <div class="row" style="padding:10px">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 logo">
                    <a href="{{ pageRoot }}/index.html"><img src="/custom_images/liquibase_logo-250.png" class="img-responsive" alt="Responsive image"></a>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <script>
                        (function() {
                            var cx = '003757264142562231070:jzcpdy3d77s';
                            var gcse = document.createElement('script');
                            gcse.type = 'text/javascript';
                            gcse.async = true;
                            gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                                    '//www.google.com/cse/cse.js?cx=' + cx;
                            var s = document.getElementsByTagName('script')[0];
                            s.parentNode.insertBefore(gcse, s);
                        })();
                    </script>
                    <gcse:searchbox-only></gcse:searchbox-only>
                </div>
            </div>
        </div>
        <div class="container-fluid">    
            <div class="row">
                <nav class="navbar navbar-default" style="display:flex; justify-content:center; flex-wrap:wrap;">
                    <ul class="nav navbar-nav">
                        <li><a class="menu" href="http://download.liquibase.org"><span>Download</span></a></li>
                        <li><a class="menu" href="{{ pageRoot }}/quickstart.html"><span>Quick Start</span></a></li>
                        <li><a class="menu" href="{{ pageRoot }}/documentation/index.html"><span>Documentation</span></a></li>
                        <li><a class="menu" href="{{ pageRoot }}/community/index.html"><span>Community</span></a></li>
                        <li><a class="menu" href="{{ pageRoot }}/extensions/index.html"><span>Extensions</span></a></li>
                        <li><a class="menu" href="{{ pageRoot }}/development/index.html"><span>Dev</span></a></li>
                        <li><a class="menu" href="http://www.datical.com/liquibase/" target="_blank" onClick="trackOutboundLink(this, 'Datical', 'Liquibase RFI'); return false"><span style="color:DarkOrange"><strong>Datical</strong></span></a></li>
                    </ul>
                </nav>  
            </div>
        </div>
        <div class="container">
            <div class="row mainBody">
                <div class="col-xs-12 col-sm-12 col-md-2 pull-left sidebar">
                    <div class="row">
                        <ul class="nav nav-pills nav-stacked">
                                {% if page.subnav %}
                                    {% assign navPage = page.subnav %}
                                {% else %}
                                    {% assign dirs = page.path  | split:'/'  %}
                                    {% assign navPage = "subnav" %}
                                    {% for dir in dirs%}
                                        {% if dir == "" or forloop.last %}
                                        {% else %}
                                            {% capture navPage %}{{navPage}}_{{dir}}{%endcapture %}
                                        {% endif %}
                                    {% endfor %}
            
                                    {% capture navPage %}{{navPage}}.md{%endcapture %}
                                    {% if navPage == "subnav.md" %}
                                        {% assign navPage = "subnav_main.md" %}
                                    {% endif %}
                                {% endif %}
            
                                {% case navPage %}
                                {% when "subnav_main.md" %}
                                    {% include subnav_main.md %}
                                {% when "subnav_documentation.md" %}
                                    {% include subnav_documentation.md %}
                                {% when "subnav_documentation_changes.md" %}
                                    {% include subnav_documentation_changes.md %}
                                {% when "subnav_documentation_sdk.md" %}
                                    {% include subnav_documentation_sdk.md %}
                                {% when "subnav_development.md" %}
                                    {% include subnav_development.md %}
                                {% when "subnav_community.md" %}
                                    {% include subnav_community.md %}
                                {% when "subnav_blog.md" %}
                                    {% include subnav_blog.md %}
                                {% else %}
                                    Unknown Nav {{navPage}}
                                {% endcase %}
                        </ul>
                    </div>
                
                    <div id="XML Announcement" class="row">
                        <a href="https://www.datical.com/liquibase/" target="_blank"><img src="/images/LB side ad - XML Changeset Announcement.png" class="img-responsive" alt="2018 XML Announcement" width="200px"></a>
                    </div>
            
                    <!-- Begin MailChimp Signup Form -->
                    <div class="row" id="mc_embed_signup" style="border:2px solid #ddd; border-radius:5px;">
                        <h3 style="text-align: center;">Newsletter Signup</h3>
                        <form action="https://liquibase.us2.list-manage1.com/subscribe/post?u=c24cd4e0098d3017cc468c324&amp;id=3362c9cd2f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                            <input type="hidden" name="u" value="c24cd4e0098d3017cc468c324">
                            <input type="hidden" name="id" value="3362c9cd2f">                          
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input type="text" class="form-control" name="MERGE1" id="MERGE1" title="First Name" placeholder="First Name" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input type="text" class="form-control" name="MERGE2" id="MERGE2" title="Last Name" placeholder="Last Name" required>
                                </div>
                            </div>
                            <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                        <input type="email" class="form-control" name="MERGE0" id="MERGE0" title="Email Address" placeholder="Email Address" required>
                                    </div>
                            </div>
                            <div class="text-center">
                                <button type ="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                    <!--End mc_embed_signup-->

                    <div class="row" id="Blog" style="border-bottom:1px solid #747373">
                        <h3>Blog</h3>
                        <a href="{{site.posts[0].url}}" style="color: #747373; text-transform: uppercase; font-size: 12px; font-family: arial, helvetica, sans-serif; font-weight: bold; text-decoration: none">{{ site.posts[0].title }}</a><br>
                        <a href="{{site.posts[0].url}}" style="font-size: 12px; font-family: arial, helvetica, sans-serif;">{{ site.posts[0].date | date_to_string }}</a>
                        <br>
                        <a href="/blog" style="font-size: 14px; font-family: arial, helvetica, sans-serif;">All Previous Posts >></a>
                    </div>

                    <div class="row" id="follow">
                        <h3>Follow</h3>
                        <a href="https://twitter.com/liquibase" class="twitter-follow-button" data-show-count="false" data-size="large">@liquibase</a>
                    </div>
            
                    {% if page.includeDaticalBox %}
                    <!--div id="Datical widget" style="padding-right: 10px; float: left; width: 220px">
                        <fieldset style="color: #747373;">
                            <legend>Datical DB</legend>
                            <strong>Liquibase for the Enterprise</strong><br/>
    
                            <a href="http://www.datical.com/liquibase/" target="_blank" onClick="trackOutboundLink(this, 'Datical', 'Liquibase RFI'); return false">Learn more >></a>
                        </fieldset>
                    </div-->
                    <div class="row" id="Datical">
                        <a href="http://www.datical.com/whitepapers/how-to-get-started-with-database-release-automation-4-steps/?utm_source=liquibase&utm_medium=side-page-ad" target="_blank" onClick="trackOutboundLink(this, 'Datical', '4 Steps Ad'); return false"><img src="/images/ad-easy-steps.png" class="img-responsive" alt="Achieving Continuous Delivery at Fidelity Investments with IBM UrbanCode and Datical" width="200px"></a>
                    </div>
                    {% endif %}          
                </div>

                <div class="col-xs-12 col-sm 12 col-md-10 mainBody">
                    <div style="margin-left: 20px; padding-bottom: 100px">
                        {% if page.date %}
                        <div style="margin-bottom: 30px">
                            <h2 style="color: #747373; text-decoration: none; text-transform: uppercase; margin-bottom: 0">{{page.title}}</h2>
                            <p style="color: #747373; text-transform: uppercase; font-size: 16px">POSTED {{page.date | date_to_string}} by Nathan Voxland</p>
                        </div>
                        {% endif %}
        
                        {{content}}
                    </div>
                </div>
            </div>

            <div class="row">
                <hr>
                <span class="pull-right" style="padding-bottom:20px; margin-right: 20px; font-weight: bold">
                    Missing, incomplete or wrong information? <a href="https://github.com/liquibase/liquibase.github.com">Please send a pull request</a>
                </span>
            </div>
   
        </div>

        <script>
            $(document).ready(function(){
                $('input[type=text][title],input[type=password][title],textarea[title]').each(function(i){
                    $(this).addClass('input-prompt-' + i);
                    var promptSpan = $('<span class="input-prompt"/>');
                    $(promptSpan).attr('id', 'input-prompt-' + i);
                    $(promptSpan).append($(this).attr('title'));
                    $(promptSpan).click(function(){
                        $(this).hide();
                        $('.' + $(this).attr('id')).focus();
                    });
                    if($(this).val() != ''){
                        $(promptSpan).hide();
                    }
                    $(this).before(promptSpan);
                    $(this).focus(function(){
                        $('#input-prompt-' + i).hide();
                    });
                    $(this).blur(function(){
                        if($(this).val() == ''){
                            $('#input-prompt-' + i).show();
                        }
                    });
                });
            });
        </script>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-1719178-1', 'liquibase.org');
          ga('send', 'pageview');
        </script>

        <script>
            function trackOutboundLink(link, category, action) {

                try {
                   ga('send','event', category , action);
                } catch(err){}

                setTimeout(function() {
                    document.location.href = link.href;
                }, 100);
            }
        </script>

        <!-- HitsLink.com tracking script -->
        <script type="text/javascript" id="wa_u" defer></script>
        <script type="text/javascript" async>//<![CDATA[
            var wa_pageName=location.pathname;    // customize the page name here;
            wa_account="B3968E8A969D9E8C9A"; wa_location=102;
            wa_MultivariateKey = '';    //  Set this variable to perform multivariate testing
            var wa_c=new RegExp('__wa_v=([^;]+)').exec(document.cookie),wa_tz=new Date(),
            wa_rf=document.referrer,wa_sr=location.search,wa_hp='http'+(location.protocol=='https:'?'s':'');
            if(top!==self){wa_rf=top.document.referrer;wa_sr=top.location.search}
            if(wa_c!=null){wa_c=wa_c[1]}else{wa_c=wa_tz.getTime();
            document.cookie='__wa_v='+wa_c+';path=/;expires=1/1/'+(wa_tz.getUTCFullYear()+2);}wa_img=new Image();
            wa_img.src=wa_hp+'://counter.hitslink.com/statistics.asp?v=1&s=102&eacct='+wa_account+'&an='+
            escape(navigator.appName)+'&sr='+escape(wa_sr)+'&rf='+escape(wa_rf)+'&mvk='+escape(wa_MultivariateKey)+
            '&sl='+escape(navigator.systemLanguage)+'&l='+escape(navigator.language)+
            '&pf='+escape(navigator.platform)+'&pg='+escape(wa_pageName)+'&cd='+screen.colorDepth+'&rs='+escape(screen.width+
            ' x '+screen.height)+'&je='+navigator.javaEnabled()+'&c='+wa_c+'&tks='+wa_tz.getTime()
            ;document.getElementById('wa_u').src=wa_hp+'://counter.hitslink.com/track.js';//]]>
        </script>

    </body>
</html>